.header {
  background-color: #000;
  height: 60px;
  margin-bottom: 0 1em;
  display: flex;
  padding: 0 1em;
  align-items: center;
  justify-content: space-between;
}
.header a {
  color: #FFF;
}/*# sourceMappingURL=header.module.css.map */