.header {
    background-color: #000;
    height: 60px;
    margin-bottom: 0 1em;
    display: flex;
    padding: 0 1em;
    align-items: center;
    justify-content: space-between;
    a {
        color: #FFF;
    }
}