@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$main-font: 'Roboto', sans-serif;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

ul {
  list-style: none;
}

.contentMain {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}


